{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Megano{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/modal_add_to_cart.css' %}">
{% endblock head %}

{% block content %}
  {% include 'main/banners.html' %}
  <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <div class="BannersHome"><a class="BannersHomeBlock" href="#">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">Video Cards
                </strong>
                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$199.00</span>
                </div>
              </div>
              <div class="BannersHomeBlock-block">
                <div class="BannersHomeBlock-img"><img src="{{ MEDIA_URL }}content/home/videoca.png" alt="videoca.png"/>
                </div>
              </div>
            </div></a><a class="BannersHomeBlock" href="#">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">Head Phones
                </strong>
                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$210.00</span>
                </div>
              </div>
              <div class="BannersHomeBlock-block">
                <div class="BannersHomeBlock-img"><img src="{{ MEDIA_URL }}content/home/videoca.png" alt="videoca.png"/>
                </div>
              </div>
            </div></a><a class="BannersHomeBlock" href="#">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">Bass Speakers
                </strong>
                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$159.00</span>
                </div>
              </div>
              <div class="BannersHomeBlock-block">
                <div class="BannersHomeBlock-img"><img src="{{ MEDIA_URL }}content/home/videoca.png" alt="videoca.png"/>
                </div>
              </div>
            </div></a>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnDesktop">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <header class="Section-columnHeader">
              <strong class="Section-columnTitle">{% trans 'Limited Deals' %}
              </strong>
            </header>
            <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">News / xbox
                  </div>
                </div>
                <div class="CountDown" data-date="31.09.2020 03:59">
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-days">
                      </div><span class="CountDown-label">days</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-hours">
                      </div><span class="CountDown-label">hours</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-minutes">
                      </div><span class="CountDown-label">mins</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-secs">
                      </div><span class="CountDown-label">secs</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">{% trans 'Popular Products' %}
            </h2>
          </header>
          <div class="Cards">
            {% for top_product in top_products %}
            <div class="Card {% if loop.index >= 5 %}hide_md{% endif %} {% if loop.index >= 7 %}hide_1450{% endif %}">
              <a class="Card-picture" href="{% url 'product' top_product.slug %}">
                <img src="{{ MEDIA_URL }}{{ top_product.img }}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="{% url 'product' top_product.slug %}">{{ top_product.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    {% if top_product.is_discounted %}
                      <span class="Card-price">${{ top_product.get_discounted_price }}</span>
                      <span class="Card-priceOld">${{ top_product.get_price }}</span>
                    {% else %}
                      <span class="Card-price">${{ top_product.get_price }}</span>
                    {% endif %}
                  </div>
                  <div class="Card-category">{{ top_product.category.name }}
                  </div>
                  <div class="Card-hover">
                      <a class="Card-btn" href="{% url 'add-to-recent' top_product.slug %}">
                        <img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/>
                      </a>
                      <button class="Card-btn Cart-add" data-product-id="{{ top_product.id}}">
                        <img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/>
                      </button>
                    <form method="post" action="{% url 'compare-add' top_product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="Compare-btn" >
                            <img class="btn-icon" src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/>
                        </button>
                    </form>
                  </div>
                </div>
              </div>
              {% if object.is_discounted %}
                <div class="Card-sale">-{{ object.get_best_discount_percent }}%
                </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="Section Section_dark">
      <div class="wrap">
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header">
              <h2 class="Section-title">{% trans 'Hot Offers' %}
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards Cards_hz">
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover"><a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#">
                            <img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="compare.html">
                            <img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                        </div>
                        <div class="Card-category">Digital / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover"><a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#">
                            <img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="compare.html">
                            <img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                        </div>
                        <div class="Card-category">Digital / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ MEDIA_URL }}icons/advantages/shipping.svg" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Shipping & Returns' %}
                </strong>
                <p class="media-text">{% trans 'World wide shipping' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ MEDIA_URL }}icons/advantages/moneyBack.svg" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Money Back' %}
                </strong>
                <p class="media-text">{% trans 'Guaranted payments' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ MEDIA_URL }}icons/advantages/support.svg" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Support Policy' %}
                </strong>
                <p class="media-text">{% trans 'Fast support team' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ MEDIA_URL }}icons/advantages/quality.svg" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Quality Guarantee' %}
                </strong>
                <p class="media-text">{% trans 'Best guaranted items' %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">{% trans 'Limited edition' %}
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards">
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                        </div>
                        <div class="Card-category">Games / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                        </div>
                        <div class="Card-category">Digital / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-price">$210.00</span>
                        </div>
                        <div class="Card-category">Media / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                        </div>
                        <div class="Card-category">Digital / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-price">$210.00</span>
                        </div>
                        <div class="Card-category">Media / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                        </div>
                        <div class="Card-category">Digital / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}/icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" href="#"><img src="{{ MEDIA_URL }}content/home/card.jpg" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-price">$210.00</span>
                        </div>
                        <div class="Card-category">Media / xbox
                        </div>
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/></a>
                            <a class="Card-btn" href="compare.html"><img src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'cart/modal_add_to_cart.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/common.js' %}"></script>
<script src="{% static 'assets/js/modal_add_to_cart.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        handle_modal()
});
</script>
{% endblock js %}