{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block content %}
    <h1 style="text-align: center">{% trans "Reset your password" %}</h1>
    {% if validlink %}
    <p style="margin-left: 100px">{% trans "Please enter your new password twice:" %}</p>
    <form method="post" style="margin-left: 100px">
        {{ form.as_p }}
        {% csrf_token %}
        <p style="margin-left: 100px"><input type="submit" value="{% trans 'Change' %}"/></p>
    </form>
    {% else %}
    <p style="margin-left: 200px">{% trans "The password reset link was invalid" %}</p>
    {% endif %}
{% endblock %}