{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Megano{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/catalog_list.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/modal_add_to_cart.css' %}">
{% endblock head %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Catalog' %} Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Catalog' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Filter' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" action="{% url 'filter' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="{{ min_price }}" data-max="{{ max_price }}" data-from="{{ initial_min_price }}" data-to="{{ initial_max_price }}"/>
                    <div class="range-price">{% trans 'Price' %}:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="name" name="name" type="text" placeholder="{% trans 'Name' %}" value="{{ initial_name }}"/>
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                  <select name="shop" class="form-select">
                    <option value="none" selected="selected">{% trans 'Shop' %}
                    </option>
                    {% for shop in shops %}
                    <option value="{{ shop.name }}" {% if shop.name == selected_shop %}
                      selected
                    {% endif %}>{{ shop.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input name="available" type="checkbox" {% if initial_available == 'on' %}
                      checked
                    {% endif %}/><span class="toggle-box"></span><span class="toggle-text">{% trans 'Only products in stock' %}</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input name="free_shipping" type="checkbox" {% if initial_free_shipping == 'on' %}
                      checked
                    {% endif %}/><span class="toggle-box"></span><span class="toggle-text">{% trans 'With free shipping' %}</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons"><input class="btn btn_square btn_dark btn_narrow" type="submit" value="{% trans 'Filter' %}">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Popular tags' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons">
                  <a class="btn btn_default btn_sm" href="#">{% trans 'Video' %}</a>
                  <a class="btn btn_default btn_sm" href="#">{% trans 'Development' %}</a>
                  <a class="btn btn_default btn_sm" href="#">{% trans 'Gaming' %}</a>
                  <a class="btn btn_default btn_sm" href="#">{% trans 'Asus' %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">{% trans 'Sort by' %}:
            </div>
            <div class="Sort-variants">
              <a class="Sort-sortBy Sort-sortBy_{{ sells_direction }}" href="{{ sort_path }}sort=sells{{ sells_direction }}">{% trans 'Popularity' %}</a>
              <a class="Sort-sortBy Sort-sortBy_{{ price_direction }}" href="{{ sort_path }}sort=price{{ price_direction }}">{% trans 'Price' %}</a>
              <a class="Sort-sortBy Sort-sortBy_{{ reviews_direction }}" href="{{ sort_path }}sort=reviews{{ reviews_direction }}">{% trans 'Reviews' %}</a>
              <a class="Sort-sortBy Sort-sortBy_{{ released_direction }}" href="{{ sort_path }}sort=released{{ released_direction }}">{% trans 'Newness' %}</a>
            </div>
          </div>
          <div class="Cards">
            {% for object in page_obj %}
              <div class="Card"><a class="Card-picture" href="{% url 'product' object.slug %}">
                <img src="{{ MEDIA_URL }}{{ object.img }}" alt="card.jpg"/></a>
                <div class="Card-content">
                  <strong class="Card-title"><a href="{% url 'product' object.slug %}">{{ object.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost">
                      {% if object.is_discounted %}
                        <span class="Card-priceOld">${{ object.get_price }}</span>
                        <span class="Card-price">${{ object.get_discounted_price }}</span>
                      {% else %}
                        <span class="Card-price">${{ object.get_price }}</span>
                      {% endif %}
                    </div>
                    <div class="Card-category">{{ object.category }}
                    </div>
                    <div class="Card-hover">
                      <a class="Card-btn" href="{% url 'add-to-recent' object.slug %}">
                        <img src="{{ MEDIA_URL }}icons/card/bookmark.svg" alt="bookmark.svg"/>
                      </a>
                      <button class="Card-btn Cart-add" data-product-id="{{ object.id }}">
                          <img src="{{ MEDIA_URL }}icons/card/cart.svg" alt="cart.svg"/>
                      </button>
                    <form method="post" action="{% url 'compare-add' object.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="Compare-btn" >
                            <img class="btn-icon" src="{{ MEDIA_URL }}icons/card/change.svg" alt="change.svg"/>
                        </button>
                    </form>
                    </div>
                  </div>
                </div>
                {% if object.is_discounted %}
                  <div class="Card-sale">-{{ object.get_best_discount_percent }}%
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="Pagination">
            <div class="Pagination-ins">
              {% if page_obj.has_previous %}
                <a class="Pagination-element Pagination-element_prev" href="{{ page_path }}page={{ page_obj.previous_page_number }}">
                    <img src="{{ MEDIA_URL }}icons/prevPagination.svg" alt="prevPagination.svg"/>
                </a>
                <a class="Pagination-element" href="{{ page_path }}page={{ page_obj.previous_page_number }}">
                    <span class="Pagination-text">{{ page_obj.previous_page_number }}</span>
                </a>
              {% endif %}
                <a class="Pagination-element Pagination-element_current" href="{{ page_path }}page={{ page_obj.number }}">
                    <span class="Pagination-text">{{ page_obj.number }}</span>
                </a>
              {% if page_obj.has_next %}
                <a class="Pagination-element" href="{{ page_path }}page={{ page_obj.next_page_number }}">
                    <span class="Pagination-text">{{ page_obj.next_page_number }}</span>
                </a>
                <a class="Pagination-element Pagination-element_prev" href="{{ page_path }}page={{ page_obj.next_page_number }}">
                    <img src="{{ MEDIA_URL }}icons/nextPagination.svg" alt="nextPagination.svg"/>
                </a>
              {% endif %}
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% include 'cart/modal_add_to_cart.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/common.js' %}"></script>
<script src="{% static 'assets/js/modal_add_to_cart.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        handle_modal()
});
</script>
{% endblock js %}